### Importing Packages

In [2]:
import pandas as pd
import numpy as np

# Mounting Drive

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Books dataframe:

In [6]:
books = pd.read_csv('/content/drive/MyDrive/Data/Books.csv', error_bad_lines = False)
# books = pd.read_csv('Books.csv', error_bad_lines = False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

### Selecting required columns

In [9]:
books = books [['ISBN','Book-Title','Book-Author','Year-Of-Publication', 'Publisher']]

In [10]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [11]:
# Renaming the books
books = books.rename(columns = {'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'})

In [12]:
books.head(2)

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

# Users  dataframe:

In [15]:
users = pd.read_csv('/content/drive/MyDrive/Data/Users.csv')

In [16]:
users = users.rename(columns={'User-ID':'user_id', 'Location':'location','Age':'age'})

In [17]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

# Ratings  dataframe:

In [18]:
ratings = pd.read_csv('/content/drive/MyDrive/Data/Ratings.csv')

In [19]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [20]:
ratings = ratings.rename(columns = {'User-ID':'user_id','Book-Rating':'rating'})

In [21]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

### Having a look on dataset

In [22]:
books.shape # 2 lakhs books

(271360, 5)

In [23]:
users.shape # 2 lakh users

(278858, 3)

In [24]:
ratings.shape # 11 lakh rating

(1149780, 3)

In [25]:
# users1 users2 users3 users4
# book1
# book2   matrix form clustering
# book3
# book4

### Since the users are 2lakhs but not neccessary that all of the users have read books and users may not gave many ratings soo considering only users who have read books more than 200 books

### Since the books are also 2 lakhs it may be many books may not be sold so considering books have ratings minimum or more than 50 ratings

### It depends on you to take considerations for books and users it's just try and error method

In [26]:
ratings['user_id'].value_counts() # ratings columns user_id give the value count of the rating

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [27]:
ratings['user_id'].value_counts().shape

(105283,)

In [28]:
x = ratings['user_id'].value_counts() > 200 
# storing the true ratings in x

In [29]:
x[x].shape # taking only true values
# this 900 people intellegence will be used by model to

(899,)

In [30]:
y = x[x].index

In [31]:
y # This are the user_id who have rated books moore than 200

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [32]:
ratings = ratings[ratings['user_id'].isin(y)]

### the user_id that is present in y and in ratings dataset with the same user_id just select user_id rows i.e. ratings , ISBN , user_id

In [33]:
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [34]:
ratings.head(4)

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0

### Now joining the books and ratings on basis of the ISBN

In [35]:
ratings_with_books = ratings.merge(books, on="ISBN")

In [36]:
ratings_with_books.head(3)

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [37]:
ratings_with_books.shape

(487671, 7)

### Taking books on that the raings is more than 50

In [38]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [39]:
number_rating.rename(columns = { 'rating':'number of ratings'}, inplace = True)

In [40]:
number_rating

                                                    title  number of ratings
0        A Light in the Storm: The Civil War Diary of ...                  2
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Beyond IBM: Leadership Marketing and Finance ...                  1
4        Clifford Visita El Hospital (Clifford El Gran...                  1
...                                                   ...                ...
160264  ??ber die Pflicht zum Ungehorsam gegen den S...                  3
160265                                      ??lpiraten.                  1
160266                     ??rger mit Produkt X. Roman.                  1
160267                              ??stlich der Berge.                  1
160268                                  ??thique en toc                  1

[160269 rows x 2 columns]

In [41]:
final_rating = ratings_with_books.merge(number_rating,on='title')

In [42]:
final_rating.shape

(487671, 8)

In [43]:
final_rating = final_rating[final_rating['number of ratings']>= 50]

In [44]:
final_rating.shape

(61853, 8)

In [45]:
final_rating = final_rating.drop_duplicates(['user_id','title'])

In [46]:
final_rating.shape # there were 2000 raitngs duplicates

(59850, 8)

## Finally data is now having users who have rated more tha 200 books and Books who have ratings more than 50

In [47]:
# creating a pivot table
book_pivot = final_rating.pivot_table(columns = 'user_id',index = 'title',values = 'rating')

In [48]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# books = 742 and users = 888

In [50]:
book_pivot.fillna(0, inplace = True)

In [51]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
# KNN is k_nearst neighbours so it is classifier algorithm
# so using NN i.e. nearst neighbours algorithm i.e clustering algorithm

In [53]:
# scipy -- scientific python
# sparse matrix does not calculate distance from 0.0
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [54]:
type(book_sparse)

scipy.sparse.csr.csr_matrix

In [55]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')
# brute means take distance from every points to other points does not skip any points
# and then make clusters accordingly

In [56]:
# to train the model
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [57]:
np.where(book_pivot.index == 237)

(array([], dtype=int64),)

In [58]:
distances, suggestions = model.kneighbors(book_pivot.iloc[90,:].values.reshape(1,-1), n_neighbors = 6)
# bookname , related recommendations

In [59]:
distances # I provided id of movie and recommendations on basis that distance

array([[ 0.        , 39.52214569, 40.58324778, 40.74309757, 40.90232267,
        40.93897898]])

In [60]:
suggestions # recommendtion id of the book

array([[ 90, 184, 393, 291, 463, 372]])

In [61]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])
#     from book_pivot I am just getting the suggestion[i] i.e. 237 and index book name

Index(['Brave New World', 'Exclusive', 'Pleading Guilty', 'Jacob Have I Loved',
       'Sleepers', 'No Safe Place'],
      dtype='object', name='title')

In [62]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [63]:
book_pivot.index[90]

'Brave New World'

### function to give the book name and according to that get the recommendations

In [64]:
np.where(book_pivot.index == 'Brave New World')[0][0] # so to get the id wrt to name

90

In [65]:
def recommend_book(book_name):
    bookId = np.where(book_pivot.index == book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[bookId,:].values.reshape(1,-1), n_neighbors = 6)
    for i in range(len(suggestions)):
        if i == 0:
            print("The suggestions for", book_name , "are :")
        if not i:
            print(book_pivot.index[suggestions[i]])

In [66]:
recommend_book('You Belong To Me')

The suggestions for You Belong To Me are :
Index(['You Belong To Me', 'The Cradle Will Fall', 'Exclusive',
       'Loves Music, Loves to Dance', 'While My Pretty One Sleeps',
       'Before I Say Good-Bye'],
      dtype='object', name='title')

In [67]:
recommend_book('4 Blondes')

The suggestions for 4 Blondes are :
Index(['4 Blondes', 'No Safe Place', 'Pleading Guilty', 'Long After Midnight',
       'Exclusive', 'Lake Wobegon days'],
      dtype='object', name='title')

In [68]:
recommend_book('Year of Wonders')

The suggestions for Year of Wonders are :
Index(['Year of Wonders', 'No Safe Place', 'A Civil Action', 'Pleading Guilty',
       'Sleepers', 'Homeport'],
      dtype='object', name='title')

In [69]:
recommend_book('1984')

The suggestions for 1984 are :
Index(['1984', 'No Safe Place', 'A Civil Action', 'Foucault's Pendulum',
       'Long After Midnight', 'Abduction'],
      dtype='object', name='title')

In [72]:
recommend_book('You Belong To Me')

The suggestions for You Belong To Me are :
Index(['You Belong To Me', 'The Cradle Will Fall', 'Exclusive',
       'Loves Music, Loves to Dance', 'While My Pretty One Sleeps',
       'Before I Say Good-Bye'],
      dtype='object', name='title')